@font-face {
    font-family: 'gothammedium';
    src: url('./police/gothammedium-webfont.woff2') format('woff2'),
         url('./police/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambook';
    src: url('./police/gothambook-webfont.woff2') format('woff2'),
         url('./police/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin:auto;
}

#red{
    background-color:#db5971;
    padding-top: 30px;
}

.titre{
    position:relative;
}

.h2w{
    color: white;
    font-family: 'Roboto';
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;
    opacity: 40%;
    
    margin:0;
   
}

.textered{
     font-family: 'gothammedium';
     font-size: 30px;
    color: white;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
    top:30%;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.blockred{
    font-size: 'gothambook';
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colred{
    width: 24%;
}

.titrered{
    font-family: 'gothammedium';
    font-size: 15px !important;
    margin-top: 50px;
    margin-bottom: 30px;
}

.textered1{
    font-family: 'gothambook';
    font-size: 13px !important;
    padding-bottom: 90px;
    padding-left : 15px;
    padding-right : 15px;
}

.colred h3{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.colred p{
    color: white;
    font-size: 20px;
    text-align: center;
}

@media (max-width:767px){
    .blockred{
        flex-direction: column;
    }
    .textered{
        font-size: 18px;
    }
        .colred{
            width: 100% !important;
        }
        .textered{
            top: 38%;
        }
}

@media (min-width:768px){
    .textered{
        font-size: 24px;
}
}

@media (max-width:360px){
    .textered{
        font-size: 16px;
        width: 100%;
}

}
@media (max-width:1024px){
    .blockred{
        flex-wrap: wrap;
    }
    .colred{
        width: 50%;
    }
}

@media  (min-width:1200px){
    .blockred{
    margin-left: 100px;
    margin-right: 100px;
    }
}

/*LE CSS DE GIANNI*/

@font-face{
  font-family: "Gotham";
  src:url(/police/Gotham-Font/GothamBook.ttf)
}

@font-face {
  font-family: 'Gothambold';
  src: url('./ProjetHTMLCSS/police/gothambold-webfont.woff2') format('woff2'),
       url('./ProjetHTMLCSS/police/gothambold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face{
font-family: "Roboto";
src: url(/police/Roboto-Thin.ttf);
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  margin:auto;
}

/* before */

.bh2:before{   
  content: "B";
  font-family: "GothamBold";
  color: rgb(219, 95, 118);
  opacity: 90%;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;

}

.bh2{
  margin-top: 100px;
  font-family: "Gotham";
  opacity: 70%;
  font-size: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.love{
    margin-top: 50px;
    font-family: "Gotham";
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fresh{
    margin-top: 50px;
    max-width: 1200px;
}

/*Colomn*/



.blogt{
    font-size: 15px;
    font-family: "Gotham";
    color: rgb(210, 18, 66);
}

.columngia p{
    font-family: "Gotham";
    font-size: 15px;
    word-break: break-word;
    text-align: center;
    display: flex;
    font-size: 15px;
}

.rowg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.columngia{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:auto;
}

/* pinky */

.pinky{
  margin-top: 80px;
  background-color: rgb(210, 18, 66);
  padding-top: 50px;
  padding-bottom: 80px;
}

.columngia2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.columngiaim{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.lorem{
  font-family: "Gotham";
  color: white;
  font-size: 13px;
  line-height: 1.3rem;
}

/*foot*/

footer{
padding-bottom: 60px;
padding-top: 70px;
font-size: 10px;
font-family: "Roboto";
background-color: black;
color: white;
}



.rowg2{
display: flex;
justify-content: space-between;
}


@media(max-width:652px){
  .columngia{
    width: 100%;
  }

.columngiaim{
  width: 100%;
  margin-top:20px;
}

.columngia2{
  width: 100%;
  text-align: center;
}

.paragraphfoot1{
  margin-left:20px;
}

.paragraphfoot2{
  margin-right: 20px;
}

}

@media(min-width:653px){
.columngia{
  width: 49%;
}


.columngiaim{
  margin-top:20px;
}

.paragraphfoot1{
  margin-left:80px;
}

.paragraphfoot2{
  margin-right: 80px;
}

}

@media(min-width:992px){
.columngia{
  width: 24%;
}

.columngiaim{
  width: 5%;
  margin-left:20px
}

.columngia2{
  width: 30%;
}

.paragraphfoot1{
  margin-left:150px;
}

.paragraphfoot2{
  margin-right: 150px;
}


}

@media(min-width:1200px){

}