@font-face{
    font-family: "Gotham";
    src:url(/police/Gotham-Font/GothamBook.ttf)
}

@font-face{
    font-family: "GothamBold";
    src:url(police/Gotham-Font/GothamBold.ttf)
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width:1200px;
    width: 100%;
    margin:auto;
}

footer{
  font-family: "Gotham";
  color: white;
  font-size: 10px;
  width: 100%;
  float: left;
  background-color: black;
}


/*B*/

.bh2:before{   
    content: "B";
    font-family: "GothamBold";
    color: rgb(219, 95, 118);
    opacity: 90%;
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;

}

.bh2{
    margin-top: 70px;
    font-family: "Gotham";
    opacity: 70%;
    font-size: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


.blog{
    font-family: "Gotham";
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

/*Love*/

.love{
    font-family: "Gotham";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}


.columngia {
    float: left;
    width: 25%;
  }

  .columngia p {
      font-family: "Gotham";
    float: left;
    width: 90%;
    word-break: break-word;
    text-align: center;
    display: flex;
    font-size: 15px;
  }

  .columngia2 {
    float: left;
    width: 25%;
  }

  .columngia2 p {
    font-family: "Gotham";
    float: left;
    width: 50%;
    word-break: break-word;
    text-align: center;
    display: flex;
    font-size: 15px;
  }
 
  .blogt{
      color: rgb(213, 51, 83);
      font-family: "Gotham";
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
  }

  .blouge{
    margin-top: 100px;
    background-color: rgb(210, 18, 66);
    float: left;
max-width: 1600px;
width: 100%;
text-align: center;
justify-content: center;}

.blouge p{
  color: white;
  font-size: 15px;
}

.triche{
  float: left;
  margin-top: 100px;
  margin-bottom: 100px;
}

.img2{
  margin-top: 20px;
  float: inline-start;
}

.col2{
  font-family: "Gotham";
  margin: 0 ;
  float: right;
  margin-top: 10px;
}

.paragraphfoot1{
  display: flex;
  float: left;
  width: 80%;
}

.paragraphfoot2{
  display: flex;
  width: 20%;
}

.foot{
  margin-top: 50px;
  margin-bottom: 50px;
}

  @media(max-width:767px){

    .love{
        text-align: center;
    }

    .columngia {
        float: left;
        width: 100%;
        text-align: center;
      }
    
      .columngia p {
          font-family: "Gotham";
        width: 100%;
        text-align: left;
        margin-left: 7px;
      }

      .columngia img{
          width: 70%;
      }

      .triche{
        width: 100%;
      }

      .img2{
        width: 10%;

      }

      .col2{
        width: 100%;
        display: flex;
        text-align: center;

      }
  }

@media(min-width:768px){
    .columngia {
    float: left;
    width: 50%;
    text-align: center;
  }

  .columngia p {
      font-family: "Gotham";
    width: 90%;
    text-align: left;
    margin-left: 7px;
  }

  .columngia img{
      width: 98%;
  }

  .triche{
    width: 100%;
  }

  .img2{
    width: 10%;

  }

  .col2{
    width: 100%;
    display: flex;
    text-align: center;

  }

}

@media(min-width:992px){

    .columngia {
        float: left;
        width: 25%;
      }
    
      .columngia p {
        float: left;
        width: 90%;
        word-break: break-word;
        text-align: center;
        display: flex;
      }

      .triche{
        width: 50%;
      }
      
      .img2{
        width: 8%;
  
      }
      
      .col2{
        width: 85%;
        display: flex;
  text-align: left;
  word-break: break-all;
      }

}

@media(min-width:1200px){

  .blouge{
    max-width: 1900px;
  }
}