@font-face {
  font-family: "Gotham";
  src: url(/police/Gotham-Font/GothamBold.ttf);
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'gothammedium';
  src: url('./police/gothammedium-webfont.woff2') format('woff2'),
       url('./police/gothammedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothambook';
  src: url('./police/gothambook-webfont.woff2') format('woff2'),
       url('./police/gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
 margin: auto;
  display: flex;

}

.fluwidth {
 
  width: 100%;
 

  display: flex;
}


  
.fluwidthh {
 
  width: 100%;
  display: flex;

}


.fluwidthhh{
  width: 100%;
  display: none;
}


.mainnz{
  width: 50%;
  display: none;
}

.mainnnp{
  width: 50%;
  display: none;
}
.main {
  width: 50%;
 

  display: flex;
  background-color: rgb(31, 30, 30);
}

.mainnn {
  width: 50%;
 

  display: flex;
  background-color: rgb(255, 253, 253);
}

.mainn {
  width: 50%;
 

  display: flex;
  flex-direction: column-reverse

}

img.mainn{
  max-width: 50%;
}


img.main{
  max-width: 50%;
}


.para{
  color:rgb(248, 248, 248); 
  margin-left:18.5%; 
  margin-top: 10% ;
  margin-right: 20%;
  display: flex;
  font-family: 'gothammedium';

}



.paraa{
  color:rgb(0, 0, 0); 
  margin-left:18.5%; 
  margin-top: 10% ;
  margin-right: 20%;
  display: flex;
  background-color: white;
  font-family: 'gothammedium';

}

@media (max-width:576px){

  
.fluwidth {
 
  width: 100%;
  
  flex-direction: column-reverse;
 

}

.fluwidthh {
 
  width: 100%;
  
  flex-direction: column-reverse;
  
 

}

.fluwidthhh {
 
  width: 100%;
  
  flex-direction: column-reverse;
  
 

}



.main{
    
  width: 100%;
   
flex-direction: column-reverse;
  
  
}


.mainn{
    
  width: 100%;
   
flex-direction: column-reverse;
  
  
}

.mainnn{
  width: 100%;
    
 
  display: none;
  
  
}
   


  .para{
    color:rgb(250, 250, 250); 
   
    display: flex;
    

  
    
  }


  .parapa{
    color:rgb(0, 0, 0); 
    margin-left:18.5%; 
    margin-top: 10% ;
    margin-right: 20%;
    display: flex;
    background-color: white;
    font-family: 'gothammedium';
    width: 100%;
  }
  
  
  
  .paraa{
    color:rgb(3, 3, 3); 
    display: flex;
  
  
  }


  .mainnnp{
    width: 100%;
    display: flex;
    color: black;
  }
  .mainnz{

    width: 100%;
    display: none;
  }
 


  img.mainn{
    max-width: 100%;
  }
  
  
  img.main{
    max-width: 100%;
  }
  
}



@media (max-width:738px){

  
  .fluwidth {
   
    width: 100%;
    
    flex-direction: column-reverse;
   
  
  }
  
  .fluwidthh {
   
    width: 100%;
    
    flex-direction: column-reverse;
    
   
  
  }
  
  .fluwidthhh {
   
    width: 100%;
    
    flex-direction: column-reverse;
    
   
  
  }
  
  
  
  .main{
      
    width: 100%;
     
  flex-direction: column-reverse;
    
    
  }
  
  
  .mainn{
      
    width: 100%;
     
  flex-direction: column-reverse;
    
    
  }
  
  .mainnn{
    width: 100%;
      
   
    display: none;
    
    
  }
     
  
  
    .para{
      color:rgb(250, 250, 250); 
     
      display: flex;
      
  
    
      
    }
  
  
    .parapa{
      color:rgb(0, 0, 0); 
      margin-left:18.5%; 
      margin-top: 10% ;
      margin-right: 20%;
      display: flex;
      background-color: white;
      font-family: 'gothammedium';
      width: 100%;
    }
    
    
    
    .paraa{
      color:rgb(3, 3, 3); 
      display: flex;
    
    
    }
  
  
    .mainnnp{
      width: 100%;
      display: flex;
      color: black;
    }
    .mainnz{
  
      width: 100%;
      display: none;
    }
   
  
  
    img.mainn{
      max-width: 100%;
    }
    
    
    img.main{
      max-width: 100%;
    }
    
  }
  
  
  

  @media (max-width:920px){

  
    .fluwidth {
     
      width: 100%;
      
      flex-direction: column-reverse;
     
    
    }
    
    .fluwidthh {
     
      width: 100%;
      
      flex-direction: column-reverse;
      
     
    
    }
    
    .fluwidthhh {
     
      width: 100%;
      
      flex-direction: column-reverse;
      
     
    
    }
    
    
    
    .main{
        
      width: 100%;
       
    flex-direction: column-reverse;
      
      
    }
    
    
    .mainn{
        
      width: 100%;
       
    flex-direction: column-reverse;
      
      
    }
    
    .mainnn{
      width: 100%;
        
     
      display: none;
      
      
    }
       
    
    
      .para{
        color:rgb(250, 250, 250); 
       
        display: flex;
        
    
      
        
      }
    
    
      .parapa{
        color:rgb(0, 0, 0); 
        margin-left:18.5%; 
        margin-top: 10% ;
        margin-right: 20%;
        display: flex;
        background-color: white;
        font-family: 'gothammedium';
        width: 100%;
      }
      
      
      
      .paraa{
        color:rgb(3, 3, 3); 
        display: flex;
      
      
      }
    
    
      .mainnnp{
        width: 100%;
        display: flex;
        color: black;
      }
      .mainnz{
    
        width: 100%;
        display: none;
      }
     
    
    
      img.mainn{
        max-width: 100%;
      }
      
      
      img.main{
        max-width: 100%;
      }
      
    }
    

    @media (max-width:1024px){

  
      .fluwidth {
       
        width: 100%;
        
        flex-direction: column-reverse;
       
      
      }
      
      .fluwidthh {
       
        width: 100%;
        
        flex-direction: column-reverse;
        
       
      
      }
      
      .fluwidthhh {
       
        width: 100%;
        
        flex-direction: column-reverse;
        
       
      
      }
      
      
      
      .main{
          
        width: 100%;
         
      flex-direction: column-reverse;
        
        
      }
      
      
      .mainn{
          
        width: 100%;
         
      flex-direction: column-reverse;
        
        
      }
      
      .mainnn{
        width: 100%;
          
       
        display: none;
        
        
      }
         
      
      
        .para{
          color:rgb(250, 250, 250); 
         
          display: flex;
          
      
        
          
        }
      
      
        .parapa{
          color:rgb(0, 0, 0); 
          margin-left:18.5%; 
          margin-top: 10% ;
          margin-right: 20%;
          display: flex;
          background-color: white;
          font-family: 'gothammedium';
          width: 100%;
        }
        
        
        
        .paraa{
          color:rgb(3, 3, 3); 
          display: flex;
        
        
        }
      
      
        .mainnnp{
          width: 100%;
          display: flex;
          color: black;
        }
        .mainnz{
      
          width: 100%;
          display: none;
        }
       
      
      
        img.mainn{
          max-width: 100%;
        }
        
        
        img.main{
          max-width: 100%;
        }
        
      }
      
      
      
    
    